@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  scroll-behavior: smooth;
} 

body {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;

}

:root{
  --primary-color: #18A0FB;
}

.active{
  color: var(--primary-color);
  background-color: #64CCEB;
}
.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div { /* change div to reference your elements you put in <Masonry> */
  background: grey;
  margin-bottom: 30px;
}
.rec-body{
  background-color: #262626;
}

.beep {
  /* animation-duration: 4s; */
  animation: infinite 1.5s ease-in-out;
  animation-name: rec;
}

@keyframes rec {
  0%   {
    transform: scale(.8);
  }
  50%  {
    transform: scale(1);
  }
  100%  {
    transform: scale(.8);
  }
}